
{% include 'base-top.html.twig' %}
    <!-- Content Row -->
    <div class="container">
      <form id="regForm" method="POST" action="{{ path('add_product') }}">
      <h1>Push achat <i class="fa fa-money" aria-hidden="true"></i></h1>
      <p>
      <div class="form-group">
        <label for="select-list-categorie">Commence par shoisir une catégorie</label>
        <select class="form-control" name="categorie" required>
          <option value="">Choisie une catégorie</option>
          {% for categorie in categories %}
              <option value="{{ categorie.id }}">{{ categorie.categName }}</option>
          {% endfor %}
        </select>
      </div>
      </p>
      
      <div class="tab">Nom de produit:
        <p>
          <div class="input-group mb-3">
            <input class="form-control datefield" id="product_name" name="product_name" type="text" autocomplete="off" autocomplete="off" required="required">
            <span class="input-group-addon">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#availableProductModal">
              <span class="glyphicon glyphicon-eye-open"></span>*</button>
            </span>
          </div>
        </p>
        Détails produit:
        <p>
          <textarea id="product_details" name="product_details" maxlength="30" rows="2" placeholder="Decrit le produit..." class="form-control" style="min-width: 100%"></textarea>
        </p>      
        {% include 'product/popup/available-product.html.twig' %}
        Date de l'achat:
        <p>
          <input class="form-control" type="date" id="start" name="purshase_date" value="{{ todayDate }}" min="2018-01-01" max="2040-12-31" autocomplete="off" required="required">
        </p>
        Quantité:
        <p>
          <input class="form-control" placeholder="Quantité..." oninput="this.className = ''" name="quantity" type="integer" autocomplete="off" required="required">
        </p>
        Date d'éxpiration:
        <p>
          <input class="form-control" type="date" id="start" name="expiration_date" min="2018-01-01" max="2040-12-31" autocomplete="off" required="required">
        </p>
      </div>
      <input class="btn btn-primary form-control float-right" type="submit" value="Valider">
      </form>
    </div>
    
    <!-- Content Row -->
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="availableProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Produits disponible</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="products-container" class="modal-body product-selector-modal">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCoupon">Boisson</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDiscount">Conserve</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalRelatedContent">Gateaux</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAbandonedCart">Epices</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalConfirmDelete">Yaourt</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPoll">Vinoiserie</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCart">Netoyage</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPush">Liquides</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalYT">Chips</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Main Content -->
<!-- End of Footer -->
{% include 'base-footer.html.twig' %}
  <!-- End of Page Wrapper -->
  <!-- Scroll to Top Button-->
<script>
  window.onload = myMain;
  function myMain() {
    document.getElementById("products-container").onclick = buton;
  }
  function buton(e) {
    if (e.target.tagName == 'BUTTON') {
      document.getElementById("product_name").value = e.target.textContent;
    }
  }
</script>
</html>
